   <!-- services section start -->
      <div class="services_section">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="studies_taital">SERVICE OFFERINGS</h1>
               </div>
            </div>
         </div>
         <div class="services_section_2">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-4">
                              <div class="service_box">
                                 <div class="house_icon">
                                    <img src="/static/imgs/icon-1.png" class="image_1">
                                    <img src="/static/imgs/icon-4.png" class="image_2">
                                 </div>
                                 <h3 class="corporate_text">More Efficient</h3>
                                 <p class="chunks_text">Traditional paper-based voting entails creating and printing ballots, setting a date and time to vote, and counting votes manually. You can avoid all this work by creating and sending out a link to a digital poll.</p>
                                 <div class="readmore_button"><a href="#">Read More</a></div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="service_box active">
                                 <div class="house_icon">
                                    <img src="/static/imgs/icon-5.png" class="image_1">
                                    <img src="/static/imgs/icon-5.png" class="image_2">
                                 </div>
                                 <h3 class="corporate_text">Saves Resources</h3>
                                 <p class="chunks_text">Paper-based voting obviously requires paper and other resources, especially if the vote is taking place in a large level person voting may require that  travel to a specific place to cast their vote.</p>
                                 <div class="readmore_button active"><a href="#">Read More</a></div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="service_box">
                                 <div class="house_icon">
                                    <img src="/static/imgs/icon-3.png" class="image_1">
                                    <img src="/static/imgs/icon-6.png" class="image_2">
                                 </div>
                                 <h3 class="corporate_text">Improves Accuracy</h3>
                                 <p class="chunks_text">Manual errors in counting are routine, leaving the possibility of some inaccuracy in traditional voting results. Using a website for voting ensures votes are counted correctly.</p>
                                 <div class="readmore_button"><a href="#">Read More</a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-4">
                              <div class="service_box">
                                 <div class="house_icon">
                                    <img src="/static/imgs/icon-1.png" class="image_1">
                                    <img src="/static/imgs/icon-4.png" class="image_2">
                                 </div>
                                 <h3 class="corporate_text">Greater Convenience </h3>
                                 <p class="chunks_text">Voting online offers greater convenience both for the party holding the vote and the party that is voting.It allows for  the ease of holding a vote simply by creating and sharing a link.</p>
                                 <div class="readmore_button"><a href="#">Read More</a></div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="service_box active">
                                 <div class="house_icon">
                                    <img src="/static/imgs/icon-5.png" class="image_1">
                                    <img src="/static/imgs/icon-5.png" class="image_2">
                                 </div>
                                 <h3 class="corporate_text">Easy To Handle</h3>
                                 <p class="chunks_text">For those voting, online voting cuts down on travel time and costs and eliminates any confusion about when, where, and how to vote. This makes it more likely for voters to want to participate.</p>
                                 <div class="readmore_button active"><a href="#">Read More</a></div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="service_box">
                                 <div class="house_icon">
                                    <img src="/static/imgs/icon-3.png" class="image_1">
                                    <img src="/static/imgs/icon-6.png" class="image_2">
                                 </div>
                                 <h3 class="corporate_text">Minimize mistakes</h3>
                                 <p class="chunks_text">By eliminating the use of physical post and manual vote counting you can avoid result-distorting mistakes such as loss of voting documents and miscounted votes. Automatic vote counting. </p>
                                 <div class="readmore_button"><a href="#">Read More</a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
               <i class="fa fa-arrow-left"></i>
               </a>
               <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
               <i class="fa fa-arrow-right"></i>
               </a>
            </div>
         </div>
      </div>
      </div>
      <!-- services section end -->